<div class="d-flex justify-content-between">
  <h3>{{ 'ADMIN.CATEGORY.LABEL.ITEMS_LIST' | translate}}</h3>
</div>
<hr/>
<div class="d-flex justify-content-between m-b-md">
  <pb-input-text
    [formGroup]="myForm"
    [fieldMeta]="searchField"
    [value]="searchField.value"
    class="m-r-xlg"
  ></pb-input-text>
  <pb-button
    [formGroup]="myForm"
    [fieldMeta]="addBtnField"
    (btnClicked)="add($event)"
  ></pb-button>
</div>

<ag-grid-angular
  class="ag-theme-material aggrid-size"
  [rowData]="rowData"
  [columnDefs]="columnDef"
  [gridOptions]="gridOptions"
  [frameworkComponents]="frameworkComponents"
>
</ag-grid-angular>
