<div class="d-flex justify-content-between">
  <h3>{{ 'ADMIN.CATEGORY.LABEL.ITEMS_LIST' | translate}}</h3>
</div>
<hr/>
<div class="d-flex justify-content-start">
  <pb-input-text
    [formGroup]="myForm"
    [fieldMeta]="itemImageField"
    (change)="chooseLogoFile($event)"
    [value]="itemImageField.value"
    class="m-r-lg"
  ></pb-input-text>

  <img [hidden]="!logo" src="{{logo}}" class="m-r-lg grid-image-70">

  <pb-select-box
    [formGroup]="myForm"
    [fieldMeta]="categoryField"
    [value]="categoryField.value"
    class="m-r-lg"
  ></pb-select-box>

  <pb-select-box
    [formGroup]="myForm"
    [fieldMeta]="subCategoryField"
    [value]="subCategoryField.value"
    class="m-r-lg"
  ></pb-select-box>

  <pb-button
    [formGroup]="myForm"
    [fieldMeta]="addBtnField"
    (btnClicked)="add($event)"
    class="m-t-xlg"
  ></pb-button>
</div>

<ag-grid-angular
  class="ag-theme-material aggrid-size"
  [rowData]="rowData"
  [columnDefs]="columnDef"
  [gridOptions]="gridOptions"
  [frameworkComponents]="frameworkComponents"
>
</ag-grid-angular>
