<div class="p-lg-3">
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-between">
      <h5>{{isEditMode ? 'Edit User' : 'Add User'}}</h5>
    </div>
  </div>

  <hr/>

  <form class="manage-user">
    <pb-input-text
      [formGroup]="myForm"
      [fieldMeta]="emailField"
      [value]="emailField.value"
    ></pb-input-text>

    <pb-input-text
      [formGroup]="myForm"
      [fieldMeta]="phoneField"
      [value]="phoneField.value"
    ></pb-input-text>

    <div *ngIf="!isEditMode">
      <pb-input-text
        [formGroup]="myForm"
        [fieldMeta]="passwordField"
        [value]="passwordField.value"
      ></pb-input-text>

      <nb-checkbox (change)="togglePasswordFun($event)">{{'AUTH.LABEL.SHOW_PASSWORD' | translate}}</nb-checkbox>
    </div>

    <hr/>
    <div class="d-flex justify-content-end">
      <pb-button
        [formGroup]="myForm"
        [fieldMeta]="manageField"
        class="m-r-md"
        (btnClicked)="manageUser($event)"
      ></pb-button>
      <pb-button
        [formGroup]="myForm"
        [fieldMeta]="cancelBtnField"
        (btnClicked)="closeDialog($event)"
      ></pb-button>
    </div>
  </form>

</div>
