<div class="d-flex justify-content-center signin">
  <form>
    <h1 class="text-center">{{'AUTH.LABEL.RESET_PASSWORD' | translate}}</h1>
    <pb-input-text
      [formGroup]="myForm"
      [fieldMeta]="emailField"
      [value]="emailField.value"
    ></pb-input-text>

    <div class="d-flex justify-content-between">
      <pb-button
        [formGroup]="myForm"
        [fieldMeta]="resetPasswordBtn"
        (btnClicked)="resetPassword($event)"
      ></pb-button>
      <button class="btn btn-xs btn-light" routerLink = '/admin/signin'>{{'AUTH.LABEL.SIGN_IN' | translate}}</button>
    </div>
  </form>
</div>
